<h4>Name: <%= @user.full_name %></h4>
<p>Username: <%= @user.username %></p>
<form action="/users/<%= @user.username %>" method="PATCH">
<% if @viewer.kind == "admin" %>
    <p>User Type: admin<input type=radio name=kind value=admin <% if @user.kind == "admin" %> checked <% end %>>
    scheduler <input type=radio name=kind value=scheduler <% if @user.kind == "scheduler" %> checked <% end %>>
    provider <input type=radio name=kind value=provider <% if @user.kind == "provider" %> checked <% end %>>
    user<input type=radio name=kind value=user <% if @user.kind == "user" %> checked <% end %>></p>
<% else %>
    <p>User Type: <%= @user.kind %>
<% end %>
<p>User Notes: <input type=text value=<%= @user.notes %>></p>
<p><input type=submit value="I'm Done"> <input type=reset></p>
</form>
<br>
<p><a href="/users">View All Users</a></p>