<h4>Name: <%= @user.full_name %></h4>
<p>Username: <%= @user.username %></p>
<p>User Type: <%= @user.kind %></p>
<p>User Notes: <%= @user.notes %></p>
<br>
<form action="/users/<%= @user.username %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<p><a href="/users/<%= @user.username %>/edit">Edit This Account</a> | <input class="submit" type="submit" value="Delete This Account"> </p>
</form>
<p><a href="/users">View All Users</a></p>