<table>
    <tr>
    <th>Time</th>
    <% @providers.each do |provider| %>
        <th><%= provider.full_name %></th>
    <% end %>
    </tr>
    <% 25.times do |i| %>
        <% if i>= 12 %> 
            <% i -= 33 %><!-- skip lunch hour, use 12 hour clock -->
        <% end %>
        <tr>
        <th><%= time=Temporal.iter_to_time(i) %></th>
        <% @providers.each do |provider| %>
            <% if provider.has_appointment?(@date.strftime("%Y-%m-%d"), time) %>
                <% clr = "black" %>
            <% else %>
                <% clr = "white" %>
            <% end %>
            <td style="background-color:<%= clr %>">
            </td>
        <% end %>
        </tr>
    <% end %>
</table>

<p><a href="/schedule/<%= Temporal.yesterday(@date) %>">Previous Day</a> | <a href="/appointments/new">Schedule A New Appointment</a> | <a href="/schedule/<%= Temporal.tomorrow(@date) %>">Next Day</a></p>