<h4>Your Appointments</h4>
<% if @appointments != [] %>
    <table>
        <tr>
            <th>Date And Time</th>
            <th>Duration</th>
            <th>Provider<% if @user.kind=="provider" %> or Client<% end %></th>
        </tr>
        <% @appointments.each do |appointment| %>
            <tr>
                <th><a href="/appointments/<%= appointment.id %>"><%= appointment.date_display %> at <%= appointment.time %></a></th>
                <td><%= appointment.duration %> minutes</td>
                <% if appointment.provider_id != @user.id %>
                    <td><%= appointment.provider.full_name %></td>
                <% else %>
                    <td><%= appointment.user.full_name %></td>
                <% end %>
            </tr>  
        <% end %>
    </table>
<% else %>
    <p>You do not currently have any appointments scheduled</p>
<% end %>
<p><a href="/schedule">Schedule An Appointment</a> | <a href="/account">Return To Account</a></p>