<p>Client Name: <%= @appointment.user.full_name %></p>
<p>Provider Name: <%= @appointment.provider %></p>
<p>Date: <%= @appointment.start_time.strftime("%A, %b %d") %></p>
<p>Time: <%= @appointment.start_time.strftime("%I:%M %p") %></p> 
<p>Duration: <%= @appointment.duration %> minutes</p>
<br>
<form action="/appointments/<%= @appointment.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<p><a href="/appointments/<%= @appointment.id %>/edit">Edit This Appointment</a> | <input class="submit" type="submit" value="Delete This Appointment"> </p>
</form>
<p><a href="/appointments">View All Appointments</a></p>