<form action="/appointments/<%= @appointment.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<p>Client Name: <%= @appointment.user.full_name %></p>
<% if @user.kind!="provider" %>
    <p>Provider Name:</p>
    <% @providers.each do |provider| %>
        <p><input type=radio name=provider_id value=<%= provider.id %> <% if provider.id == @appointment.provider_id %> checked <% end %>><%= "#{provider.full_name}" %></p>
    <% end %>
    <p>Date: <input type=date name=date value=<%= @appointment.date %>></p>
    <p>Time: <input type=text name=time value=<%= @appointment.time %>></p>
    <p>Duration: <input type=number min=20 step=20 name=duration value=<%= @appointment.duration%>></p>
<% else %>
    <p>Provider Name: <%= @appointment.provider %></p>
    <p>Date: <%= @appointment.date_display %></p>
    <p>Time: <%= @appointment.time %></p>
    <p>Duration: <%= @appointment.duration %> minutes</p>
<% end %>
<% if @user.kind != "user" %>
    <p>Appointment Services:</p>
    <p>
    <% @standardservices.each do |standardservice| %>
        <input style="width:40px;text-align:right;" min=0 type=number value=<%= (@services.filter { |service| service.name==standardservice.name}).length %> name=service[][<%= standardservice.id %>]> <%= standardservice.name %><br>
    <% end %>
    </p>
    <p>Appointment Notes:</p>
    <p><textarea rows="4" cols="50" name=notes><%= @appointment.notes %></textarea></p>
<% end %>
<p><input type=submit value="I'm Done"> <input type=reset></p>
</form>
<br>
<p><a href="/appointments">View All Appointments</a></p>