<h4>Appointments</h4>
<% if @appointments != [] %>
    <table>
        <tr>
            <th>Date And Time</th>
            <th>Duration</th>
            <th>Provider</th>
        </tr>
        <% @appointments.sort { |a1, a2| a1.date+a1.time <=> a2.date+a2.time}.each do |appointment| %>
            <tr>
                <th><a href="/appointments/<%= appointment.id %>"><%= appointment.date_display %> at <%= appointment.time %></a></th>
                <td><%= appointment.duration %> minutes</td>
                <td><%= appointment.provider.full_name %></td> 
            </tr>  
        <% end %>
    </table>
<% else %>
    <p>No appointments have been scheduled.</p>
<% end %>
<br>
<p><a href="/management">Back To Management</a></p>