<% if @providers!=[] %>
    <table>
        <tr>
        <th>Time</th>
        <% @providers.each do |provider| %>
            <th><%= provider.full_name %></th>
        <% end %>
        </tr>
        <% 25.times do |i| %>
            <% if i>= 12 %> 
                <% i -= 33 %><!-- skip lunch hour, use 12 hour clock -->
            <% end %>
            <tr>
            <th><%= time=Temporal.iter_to_time(i) %></th>
            <% @providers.each do |provider| %>
                <% if provider.has_appointment?(@date.strftime("%Y-%m-%d"), time) %>
                    <% clr = "#000000" %>
                <% else %>
                    <% clr = "#808080" %>
                <% end %>
                <td style="background-color:<%= clr %>;">
                    <% if clr != "#000000" %>
                        <a href="/appointments/new/<%= "#{@date.strftime("%Y-%m-%d")},#{time},#{provider.id}" %>">Book</a>
                    <% end %>
                </td>
            <% end %>
            </tr>
        <% end %>
    </table>

    <p align=center><a href="/appointments/schedule/<%= Temporal.yesterday(@date) %>">Previous Day</a> | <a href="/appointments/new">Schedule A New Appointment</a> | <a href="/appointments/schedule/<%= Temporal.tomorrow(@date) %>">Next Day</a></p>
<% else %>
    <p>No appointments can be scheduled at this time.</p>
<% end %>